@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato',sans-serif ;
    color: rgb(88, 88, 212);
    line-height: 1.6;

}

ul{
    list-style: none;

}

a{
    text-decoration: none;
    color: rgb(88, 88, 212);

}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;

}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.navbar {
    background-color: rgb(76, 78, 196);
    color:white;
}

.navbar .flex{
    justify-content: space-between;
    
}

.navbar ul{
    display: flex;

}
.navbar a{
    color: white;
    padding: 10px;
    margin:  0 5px;

}

.navbar a:hover{
    border-bottom: 3px solid white ;
} 


/*Showcase */

.showcase {
    height:400px;
    background-color: rgb(76, 78, 196);
    color:white;
    position : relative;


}
.showcase p {
    margin: 20px 0;
  }
  

.showcase h1{
    font-size: 40px;
    
}

.showcase .grid{
    overflow: visible;
    grid-template-columns: 55% 44%;
    gap:20px;
}


.showcase-form {
    position: relative;
    top: 60px;
    height: 300px;
    width: 400px;
    padding:40px;
    justify-self: flex-end;
    z-index: 100;
}

.showcase-form .form-control{
    margin: 20px 0;
   
}

.showcase-form input[type="text"],

.showcase-form input[type="email"]
{
    border : 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.979);
    width: 100%;
    padding: 3px;
    outline: none;
     
}

.showcase::before,
.showcase::after {
    content: ' ';
    background: white;
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left:0;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
  

}






/*Utilities*/

.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}


.card{
    background-color:white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0  3px 10px   rgb(202, 190, 190);
    padding: 20px;
    margin: 10px;

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    align-items: center;
    justify-content: center;
    height:100%;
}

.btn{
    cursor: pointer;
    padding: 10px 30px;
    background: rgb(76, 78, 196);
    color: white;
    display: inline-block;
    border: none;
    border-radius: 5px;

}

.btn-outline {
    background-color: transparent;
    border: 1px solid white;
}

.btn:hover {
    transform: scale(0.98);
}


/*Stats*/
.stats-heading{
    max-width: 1000px;
    margin: auto;

}

.stats .grid .h3{
    font-size: 40px;

}

.stats .grid .p{
    font-size: 20px;
    font-weight: bold;
}


.stats{
    
    padding-top:100px;
}

.text-center{
    text-align: center;
}
.grid-3{
    
    grid-template-columns: repeat(3,1fr);
   
}



/*Language */
.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in ;

}

.languages .flex{
    flex-wrap:wrap;
}

.languages .card h4{
    font-size: 20px ;
    margin-bottom: 5px;
    
}

.languages .card:hover{
    transform: translateY(-15px);
}


/*Footer*/




.bg-dark{
    background-color: rgb(5, 5, 56);
    color: white;
}

.social {
    height: 80px;
    width: 100px;
}

.footer .social  {
    display:grid;
    padding: 10px 0;
   
    grid-template-columns: repeat(4,1fr);
   ;
}

.footer .social a{
    height: 40px;
    width: 40px;
    margin : 0 5px;
    
} 
    

/*Margin*/

.my-1{
    margin: 1rem 0;
}
.my-2{
    margin: 1.rem 0;
}

.my-3{
    margin:2rem 0;
}



.my-4{
    margin: 3rem 0;

}


.p{
    margin: 1rem;
}

.p-2{
    margin: 1.5rem;
}

.p-3{
    margin: 2 rem;
}

.p-4 {
    margin: 3rem;
}

.m-5{
    margin: 4 rem;
}


/*Padding */

.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 1.rem 0;
}

.py-3{
    padding:2rem 0;
}



.py-4{
    padding: 3rem 0;

}

.py-5{
    padding: 4rem 0;

}


.p-1{
   padding: 1rem;
}

.p-2{
   padding: 1.5rem;
}

.p-3{
   padding: 2 rem;
}

.p-4 {
   padding: 3rem;
}

.p-5{
   padding: 4 rem;
}


/*CLI*/


.cli .grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}


.cli .grid>*:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.clouds {
    background: rgb(57, 121, 206);
    color: white;
}

.clouds .grid{
    grid-template-columns: 4fr 3fr;
}



.lg{
    font-size: 30px;
}

.lead{
    font-size: 20px;
}


/*Table and under */
@media(max-width:768px) {


       .clouds{
           padding-bottom: 30px;
       }


    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .showcase {
        height:auto;
    }

    .showcase-text{
        text-align: center;
    }

    .showcase-from{
        justify-self: center;
        margin: auto;
    }

    .cli .grid>*:first-child{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        
    }

}



/*Mobile */

@media(max-width:500px){



        .stats{
            background-color: green;
        }
.navbar {
    height: 110px;

}

    .navbar .flex{
        flex-direction: column;
    }

    .navbar ul{
        padding: 5px;
        background-color: rgba(0,0,0,0.1);
    }

    .showcase .grid {


    }



}